<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myMinistry">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MMATheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--
        <activity
            android:name="com.myMinistry.navigation.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.myMinistry.ui.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Start Derek Add -->
        <receiver android:name="com.myMinistry.navigation.DeepLinkAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>
        <!-- End Derek Add -->
        <activity
            android:name="com.myMinistry.ui.SettingsActivity"
            android:configChanges="locale"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.myMinistry.services.DailyBackupService"
            android:enabled="true" />
        <service
            android:name="com.myMinistry.services.WeeklyBackupService"
            android:enabled="true" />

        <receiver
            android:name="com.myMinistry.receivers.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>