<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myMinistry">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MMATheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.myMinistry.ui.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myMinistry.ui.SettingsActivity"
            android:configChanges="locale"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.myMinistry.services.DailyBackupService"
            android:enabled="true" />
        <service
            android:name="com.myMinistry.services.WeeklyBackupService"
            android:enabled="true" />

        <receiver
            android:name="com.myMinistry.receivers.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>